* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  padding: 10px;
  font-size: 16px;
  font-family: arial;
}

form.username {
  input[type=text]{
    padding: 5px;
  }
  button {
    padding: 5px;
  }
  .active-user {
    margin-right: 5px;
  }
}

.repositories {
  padding-top: 10px;
  ul {
    li {
      font-size: 14px;
      padding: 5px 0;
      padding-left: 20px;
    }
  }
}

.pagination {
  margin-top: 15px;

  button {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #000;
    cursor: pointer;

    &.active {
      background-color: #fff;
    }
  }
}